snippet fbs "Faker: BS" !
`ruby -rffaker -e 'puts Faker::Company.bs.capitalize + " via " + Faker::Company.catch_phrase.downcase'`
endsnippet

snippet fls "Faker: Lorem sentence" !
`ruby -rffaker -e 'puts Faker::Lorem.sentence(5)'`
endsnippet

snippet lop "Faker: Lorem paragraph" !
`ruby -rffaker -e 'puts Faker::Lorem.paragraph'`
endsnippet

snippet lorem "Faker: Lorem paragraph" !
`ruby -rffaker -e 'puts Faker::Lorem.paragraph'`
endsnippet
