snippet cl "console.log"
console.log 
endsnippet

snippet cw "console.warn"
console.warn 
endsnippet

snippet ce "console.error"
console.error 
endsnippet

snippet pp "Prettify JSON"
JSON.stringify(${1}, null, 2)
endsnippet
