snippet d "date 2011-01-25"
`date "+%Y/%m/%d"`
endsnippet

snippet uber "uber"
`date "+%Y"`/${1:01/01} * Uber
    Uber                                              P ${2:000}.00
    Psbank

endsnippet
