snippet opts
while [[ "$1" =~ ^- && ! "$1" == "--" ]]; do case "$1" in
	-V | --version )
		echo $version
		exit
		;;
	-s | --string )
		shift; string=$1
		;;
	-f | --flag )
		flag=1
		;;
esac; shift; done
if [[ "$1" == '--' ]]; then shift; fi
endsnippet
