snippet opts
while true; do
	case "${1:-}" in
		-m | --multi) multi=1; shift ;;
		-f | --file) file="$2"; shift 2 ;;
		*) break ;;
	esac
done
endsnippet

snippet getopts
while getopts "m:f" key; do
	case $key in
		m) multi=1 ;;
		f) file=$OPTARG ;;
		${0}
	esac
done
shift $((OPTIND-1))
endsnippet

snippet dir
# https://gist.github.com/olegch/1730673
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
endsnippet
