snippet vimhelp "vim help text"
*${1:hello}.txt*  ${2:asynchronous execution plugin for Vim}

==============================================================================
INTRODUCTION                                                      *$1*

*$1* is $2.

==============================================================================
vim:tw=78:ts=8:ft=help:norl:
endsnippet
