# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt
extends javascript

snippet ir "import React from 'react'" b
import React from 'react'

endsnippet

snippet ic "import CSS from './x.module.css'" b
import CSS from './`!p snip.rv = snip.basename`.module.css'

endsnippet

snippet rfc "React component (function Hello { ... })" b
function ${1:`!p snip.rv = snip.basename`}(props: {}) {
	return (
		$0
	)
}
endsnippet
