snippet travis "travis: node_js"
language: node_js
node_js:
- '4'
cache:
  directories:
  - node_modules
endsnippet

snippet travis "travis: ruby"
language: ruby
rvm:
- 2.0.0
endsnippet

snippet zuul ".zuul.yml"
ui: mocha-bdd
browsers:
  - name: ie
    version: 6..latest
  # - name: firefox
  #   version: latest
  # - name: chrome
  #   version: latest
endsnippet
