/session
/bookmarks
/spell
/vendor
.netrwhist

# artifacts from previous incarnations
/autoload/plug.vim.old
/plugin/*.local.vim
/plugin/packer_compiled.lua
.neovim_playground_env
/lua/custom/init.lua

# when using plenary.profile to profile performance
/profile.svg
/profile.log
/.home
