-- vim:ft=lua
-- Instructions: copy to init.lua.

return {
	baseconfig = function(config)
		-- config.ui.theme_dark = "terafox" -- terafox | github_dimmed | catppuccin
		-- config.ui.theme_light = "github_light"

		-- config.features.auto_cd_root = true
		-- config.features.lsp = true
		-- config.features.lsp_installer = true
		-- config.features.completions = true
		-- config.features.treesitter = true
		-- config.features.github_fugitive = true
		-- config.features.gitsigns = true
		-- config.features.indent_guides = true
		-- config.features.hop = true
		-- config.features.file_explorer = true
		-- config.features.autopairs = true
		-- config.features.gitsigns = true
		-- config.features.indent_detection = true
		-- config.features.indent_guides = true
		-- config.features.scrollbars = true
		-- config.features.lazy_load_statusline = false

		-- config.format.autoformat_files = "*.lua,*.js,*.jsx,*.ts,*.tsx,*.cjs,*.mjs",

		-- config.treesitter.ensure_installed = { "lua" }
		-- vim.list_extend(config.treesitter.ensure_installed, { "javascript", "jsdoc", "json", "typescript" })
		-- vim.list_extend(config.treesitter.ensure_installed, { "css", "html", "scss" })
		-- vim.list_extend(config.treesitter.ensure_installed, { "ruby" })
		-- vim.list_extend(config.treesitter.ensure_installed, { "scss" })
		-- vim.list_extend(config.treesitter.ensure_installed, { "python" })
		-- vim.list_extend(config.treesitter.ensure_installed, { "make", "markdown" })

		-- config.terminal.shell = nil
		-- config.terminal.shell = "fish"
	end,
}
